@use '../../styles/variables' as *;

.input{
    position: relative;
    background-color: $background-color;
    border: none;
    font-size: 1rem;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    font-family: $font;
    font-weight: 300;
}

.input:focus{
    outline: none;

}