.button{
    height: 100%;
    color: #FFFDF6;
    border: none;
    padding: 0.5rem 1.5rem;
    transition: all .3s linear;
    background: linear-gradient(to right, #A0C878 50%, #DDEB9D 50%);
    background-position: right bottom;
    background-size: 200% 100%;
}

.button:hover{
    background-position: left bottom;
}